.profile__job{
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-light);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 700px){
  .profile__job{
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
  }
}
